body {background-color:black;font-family:arial;color:white}
h2{color:grey;font-family:verdana}
.maindiv {
    padding : 20px;
    background-color : white;
    color: black;
    width: 400px;
    border-radius : 25px;
    box-align:center;

}
.si{ 
    padding : 0px 20px 0px 40px;
    box-align:center;
}
